# MODELOS DE DATOS - 1ER ENTREGABLE

### Elihu Erick Cruz García - 201928692

## Librerías

In [1]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tablas de Resultados

In [2]:
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content = json.loads(response.content)

In [3]:
df_results_2022 = pd.DataFrame()
for race in list(range(1,23)):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [4]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [5]:
df_results_2022["points"] = df_results_2022.points.astype(int)

In [6]:
df_results_2022.groupby(["position"]).agg({"points":"sum"}).sort_values(by="points", ascending= False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [8]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [9]:
df_results_2022["points"] = df_results_2022.points.astype(int)
df_results_2022.groupby(["Driver"]).agg({"points":"sum"}).sort_values(by="points", ascending= False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [10]:
df_results_2022["Constructor"]=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [11]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [12]:
df_results_2022["points"] = df_results_2022.points.astype(int)
df_results_2022.groupby(["Constructor"]).agg({"points":"sum"}).sort_values(by="points", ascending= False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Librerías

In [13]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Races

In [14]:
races = {"season": [],
         "round":[],
        "raceName": [],
        "circuitId": [],
        "lat": [],
        "long": [],
        "country":[],
        "date": [],
        "url": []}

In [15]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content["MRData"]["RaceTable"]["Races"]:
            races['season'].append(int(item["season"]))
            
            races['round'].append(int(item["round"]))
            
            races['raceName'].append(item["raceName"])
            
            races['circuitId'].append(item["Circuit"]["circuitId"])
            
            races['lat'].append(item["Circuit"]["Location"]["lat"])
                                           
            races['long'].append(item["Circuit"]["Location"]["long"])
            
            races['country'].append(item["Circuit"]["Location"]["country"])
            
            races['date'].append(item["date"])
            
            races['url'].append(item["url"])

In [16]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [17]:
for key in races.keys():
    print(len(races[key]))

259
259
259
259
259
259
259
259
259

### Tabla de Races a CSV

In [18]:
pd.DataFrame(races).to_csv("races.csv", index=False)

## Librerías

In [19]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Seasons

In [20]:
url='http://ergast.com/api/f1/seasons.json?limit=100'
response = requests.get(url)
content=json.loads(response.content)

In [21]:
seasons ={'temporada':[],
      'url':[]}

In [22]:
for item in content['MRData']['SeasonTable']['Seasons']:
    seasons['temporada'].append(int(item['season']))
    seasons['url'].append(item['url'])

In [23]:
pd.DataFrame(seasons)

    temporada                                                url
0        1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1        1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2        1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3        1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4        1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
..        ...                                                ...
69       2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
70       2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
71       2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
72       2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
73       2023  https://en.wikipedia.org/wiki/2023_Formula_One...

[74 rows x 2 columns]

### Tabla de Seasons a CSV

In [24]:
pd.DataFrame(seasons).to_csv("seasons.csv", index=False)

## Librerías

In [25]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Drivers

In [26]:
url='http://ergast.com/api/f1/drivers.json'
response = requests.get(url)
content=json.loads(response.content)

In [27]:
drivers ={"Year": [],
         "driverId": [],
         "permanentNumber":[],
        "code": [],
        "url": [],
        "givenName": [],
        "familyName":[],
        "dateOfBirth": [],
        "nationality": []
    }

In [28]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/drivers.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['DriverTable']['Drivers']:
        
        drivers['Year'].append(content['MRData']['DriverTable']["season"])

        drivers['driverId'].append(item['driverId'])

        try:  
            drivers['permanentNumber'].append(int(item['permanentNumber']))
        except: 
            drivers['permanentNumber'].append("")

        try:  
            drivers['code'].append(item['code'])
        except: 
            drivers['code'].append("")

        drivers['url'].append(item['url'])

        drivers['givenName'].append(item['givenName'])

        drivers['familyName'].append(item['familyName'])

        drivers['dateOfBirth'].append(item['dateOfBirth'])

        drivers['nationality'].append(item['nationality'])

In [29]:
pd.DataFrame(drivers)

,Year,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,2010,alguersuari,,ALG,http://en.wikipedia.org/wiki/Jaime_Alguersuari,Jaime,Alguersuari,1990-03-23,Spanish
1,2010,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish
2,2010,barrichello,,BAR,http://en.wikipedia.org/wiki/Rubens_Barrichello,Rubens,Barrichello,1972-05-23,Brazilian
3,2010,buemi,,BUE,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi,Sébastien,Buemi,1988-10-31,Swiss
4,2010,button,22,BUT,http://en.wikipedia.org/wiki/Jenson_Button,Jenson,Button,1980-01-19,British
...,...,...,...,...,...,...,...,...,...
299,2022,stroll,18,STR,http://en.wikipedia.org/wiki/Lance_Stroll,Lance,Stroll,1998-10-29,Canadian
300,2022,tsunoda,22,TSU,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda,2000-05-11,Japanese
301,2022,max_verstappen,33,VER,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch
302,2022,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German
303,2022,zhou,24,ZHO,http://en.wikipedia.org/wiki/Guanyu_Zhou,Guanyu,Zhou,1999-05-30,Chinese

### Tabla de Drivers a CSV

In [30]:
pd.DataFrame(drivers).to_csv("drivers.csv", index=False)

## Librerías

In [31]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Constructors

In [32]:
url='http://ergast.com/api/f1/constructors.json'
response = requests.get(url)
content=json.loads(response.content)

In [33]:
constructors ={"Year": [],
               "constructorId": [],
               "url":[],
               "name": [],
               "nationality": []
    }

In [34]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/constructors.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)

    for item in content['MRData']['ConstructorTable']['Constructors']:

        constructors['Year'].append(content['MRData']['ConstructorTable']["season"])

        constructors['constructorId'].append(item['constructorId'])

        constructors['url'].append(item['url'])

        constructors['name'].append(item['name'])

        constructors['nationality'].append(item['nationality'])

In [35]:
pd.DataFrame(constructors)

,Year,constructorId,url,name,nationality
0,2010,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,2010,force_india,http://en.wikipedia.org/wiki/Racing_Point_Forc...,Force India,Indian
2,2010,hrt,http://en.wikipedia.org/wiki/Hispania_Racing,HRT,Spanish
3,2010,lotus_racing,http://en.wikipedia.org/wiki/Lotus_Racing,Lotus,Malaysian
4,2010,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
...,...,...,...,...,...
134,2022,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
135,2022,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
136,2022,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
137,2022,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
138,2022,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

### Tabla de Constructors a CSV

In [36]:
pd.DataFrame(constructors).to_csv("constructors.csv", index=False)

## Librerías

In [37]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Circuits

In [38]:
url='http://ergast.com/api/f1/circuits.json'
response = requests.get(url)
content=json.loads(response.content)

In [39]:
circuits ={"Year": [],
        "circuitId": [],
         "url":[],
        "circuitName":[],
        "lat": [],
        "long": [],
        "locality": [],
        "country":[],
    }

In [40]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/circuits.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['CircuitTable']['Circuits']:

        circuits['Year'].append(content['MRData']['CircuitTable']["season"])

        circuits['circuitId'].append(item['circuitId'])

        circuits['url'].append(item['url'])

        circuits['circuitName'].append(item['circuitName'])

        circuits['lat'].append(item["Location"]['lat'])

        circuits['long'].append(item["Location"]['long'])

        circuits['locality'].append(item["Location"]['locality'])

        circuits['country'].append(item["Location"]['country'])

### Tabla de Circuits a CSV

In [41]:
pd.DataFrame(circuits)

,Year,circuitId,url,circuitName,lat,long,locality,country
0,2010,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
1,2010,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain
2,2010,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.57,2.26111,Montmeló,Spain
3,2010,hockenheimring,http://en.wikipedia.org/wiki/Hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany
4,2010,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary
...,...,...,...,...,...,...,...,...
250,2022,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
251,2022,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.541,Suzuka,Japan
252,2022,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada
253,2022,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE
254,2022,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

In [42]:
pd.DataFrame(circuits).to_csv("circuits.csv", index=False)

## Librerías

In [43]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

## Tabla de Qualifying

In [2]:
url='http://ergast.com/api/f1/qualifying.json?limit=1000'
response = requests.get(url)
content=json.loads(response.content)

In [3]:
qualifying ={"Year": [],
         "driverId":[],
        "constructorId":[],
        "number": [],
        "position": [],
        "Q1": [],
        "Q2":[],
        "Q3":[]
    }

In [4]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/qualifying.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:

        qualifying['Year'].append(year)

        qualifying['driverId'].append(item['Driver']['driverId'])

        qualifying['constructorId'].append(item['Constructor']['constructorId'])

        try:
            qualifying['number'].append(item['number'])
        except:
            qualifying['number'].append(None)
        
        qualifying['position'].append(item["position"])
                                  
        try:  
             qualifying['Q1'].append(item["Q1"])
        except: 
            qualifying['Q1'].append(None)

        try:  
             qualifying['Q2'].append(item["Q2"])
        except: 
            qualifying['Q2'].append(None)
        try:  
             qualifying['Q3'].append(item["Q3"])
        except: 
            qualifying['Q3'].append(None)
    
    for item in content['MRData']['RaceTable']['Races'][1]['QualifyingResults']:

        qualifying['Year'].append(year)

        qualifying['driverId'].append(item['Driver']['driverId'])

        qualifying['constructorId'].append(item['Constructor']['constructorId'])

        try:
            qualifying['number'].append(item['number'])
        except:
            qualifying['number'].append(None)
        
        qualifying['position'].append(item["position"])
                       
        try:  
             qualifying['Q1'].append(item["Q1"])
        except: 
            qualifying['Q1'].append(None)

        try:  
             qualifying['Q2'].append(item["Q2"])
        except: 
            qualifying['Q2'].append(None)
        try:  
             qualifying['Q3'].append(item["Q3"])
        except: 
            qualifying['Q3'].append(None)

### Tabla de Qualifying a CSV

In [5]:
pd.DataFrame(qualifying)

,Year,driverId,constructorId,number,position,Q1,Q2,Q3
0,2010,vettel,red_bull,5,1,1:55.029,1:53.883,1:54.101
1,2010,massa,ferrari,7,2,1:55.313,1:54.331,1:54.242
2,2010,alonso,ferrari,8,3,1:54.612,1:54.172,1:54.608
3,2010,hamilton,mclaren,2,4,1:55.341,1:54.707,1:55.217
4,2010,rosberg,mercedes,4,5,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...
385,2022,russell,mercedes,63,6,1:29.680,1:29.618,1:29.104
386,2022,alonso,alpine,14,7,1:29.978,1:29.295,1:29.147
387,2022,bottas,alfa,77,8,1:29.683,1:29.404,1:29.183
388,2022,gasly,alphatauri,10,9,1:29.891,1:29.418,1:29.254
389,2022,kevin_magnussen,haas,20,10,1:29.831,1:29.546,1:29.588

In [48]:
pd.DataFrame(qualifying).to_csv("qualifying.csv", index=False)

In [10]:
content['MRData']['RaceTable']['Races']#[1]['QualifyingResults']

[{'number': '11',
  'position': '1',
  'Driver': {'driverId': 'perez',
   'permanentNumber': '11',
   'code': 'PER',
   'url': 'http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez',
   'givenName': 'Sergio',
   'familyName': 'Pérez',
   'dateOfBirth': '1990-01-26',
   'nationality': 'Mexican'},
  'Constructor': {'constructorId': 'red_bull',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
   'name': 'Red Bull',
   'nationality': 'Austrian'},
  'Q1': '1:29.705',
  'Q2': '1:28.924',
  'Q3': '1:28.200'},
 {'number': '16',
  'position': '2',
  'Driver': {'driverId': 'leclerc',
   'permanentNumber': '16',
   'code': 'LEC',
   'url': 'http://en.wikipedia.org/wiki/Charles_Leclerc',
   'givenName': 'Charles',
   'familyName': 'Leclerc',
   'dateOfBirth': '1997-10-16',
   'nationality': 'Monegasque'},
  'Constructor': {'constructorId': 'ferrari',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
   'name': 'Ferrari',
   'nationality': 'Italian'},
  'Q1': '1:29.039',
  'Q2': '1:28.780',
  'Q3': '1:28.225'},
 {'number': '55',
  'position': '3',
  'Driver': {'driverId': 'sainz',
   'permanentNumber': '55',
   'code': 'SAI',
   'url': 'http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.',
   'givenName': 'Carlos',
   'familyName': 'Sainz',
   'dateOfBirth': '1994-09-01',
   'nationality': 'Spanish'},
  'Constructor': {'constructorId': 'ferrari',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
   'name': 'Ferrari',
   'nationality': 'Italian'},
  'Q1': '1:28.855',
  'Q2': '1:28.686',
  'Q3': '1:28.402'},
 {'number': '1',
  'position': '4',
  'Driver': {'driverId': 'max_verstappen',
   'permanentNumber': '33',
   'code': 'VER',
   'url': 'http://en.wikipedia.org/wiki/Max_Verstappen',
   'givenName': 'Max',
   'familyName': 'Verstappen',
   'dateOfBirth': '1997-09-30',
   'nationality': 'Dutch'},
  'Constructor': {'constructorId': 'red_bull',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
   'name': 'Red Bull',
   'nationality': 'Austrian'},
  'Q1': '1:28.928',
  'Q2': '1:28.945',
  'Q3': '1:28.461'},
 {'number': '31',
  'position': '5',
  'Driver': {'driverId': 'ocon',
   'permanentNumber': '31',
   'code': 'OCO',
   'url': 'http://en.wikipedia.org/wiki/Esteban_Ocon',
   'givenName': 'Esteban',
   'familyName': 'Ocon',
   'dateOfBirth': '1996-09-17',
   'nationality': 'French'},
  'Constructor': {'constructorId': 'alpine',
   'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
   'name': 'Alpine F1 Team',
   'nationality': 'French'},
  'Q1': '1:30.093',
  'Q2': '1:29.584',
  'Q3': '1:29.068'},
 {'number': '63',
  'position': '6',
  'Driver': {'driverId': 'russell',
   'permanentNumber': '63',
   'code': 'RUS',
   'url': 'http://en.wikipedia.org/wiki/George_Russell_%28racing_driver%29',
   'givenName': 'George',
   'familyName': 'Russell',
   'dateOfBirth': '1998-02-15',
   'nationality': 'British'},
  'Constructor': {'constructorId': 'mercedes',
   'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
   'name': 'Mercedes',
   'nationality': 'German'},
  'Q1': '1:29.680',
  'Q2': '1:29.618',
  'Q3': '1:29.104'},
 {'number': '14',
  'position': '7',
  'Driver': {'driverId': 'alonso',
   'permanentNumber': '14',
   'code': 'ALO',
   'url': 'http://en.wikipedia.org/wiki/Fernando_Alonso',
   'givenName': 'Fernando',
   'familyName': 'Alonso',
   'dateOfBirth': '1981-07-29',
   'nationality': 'Spanish'},
  'Constructor': {'constructorId': 'alpine',
   'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
   'name': 'Alpine F1 Team',
   'nationality': 'French'},
  'Q1': '1:29.978',
  'Q2': '1:29.295',
  'Q3': '1:29.147'},
 {'number': '77',
  'position': '8',
  'Driver': {'driverId': 'bottas',
   'permanentNumber': '77',
   'code': 'BOT',
   'url': 'http://en.wikipedia.org/wiki/Valtteri_Bottas',
   'givenName': 'Valtteri',
   'familyName': 'Bottas',
   'dateOfBirth': '1989-08-28',
   'nationality': 'Finnish'},
  'Constructor': {'constructorId': 'alfa',
   'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
   'name': 'Alfa Romeo',
   'nationality': 'Swiss'},
  'Q1': '1:29.683',
  'Q2': '1:29.404',
  'Q3': '1:29.183'},
 {'number': '10',
  'position': '9',
  'Driver': {'driverId': 'gasly',
   'permanentNumber': '10',
   'code': 'GAS',
   'url': 'http://en.wikipedia.org/wiki/Pierre_Gasly',
   'givenName': 'Pierre',
   'familyName': 'Gasly',
   'dateOfBirth': '1996-02-07',
   'nationality': 'French'},
  'Constructor': {'constructorId': 'alphatauri',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri',
   'name': 'AlphaTauri',
   'nationality': 'Italian'},
  'Q1': '1:29.891',
  'Q2': '1:29.418',
  'Q3': '1:29.254'},
 {'number': '20',
  'position': '10',
  'Driver': {'driverId': 'kevin_magnussen',
   'permanentNumber': '20',
   'code': 'MAG',
   'url': 'http://en.wikipedia.org/wiki/Kevin_Magnussen',
   'givenName': 'Kevin',
   'familyName': 'Magnussen',
   'dateOfBirth': '1992-10-05',
   'nationality': 'Danish'},
  'Constructor': {'constructorId': 'haas',
   'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
   'name': 'Haas F1 Team',
   'nationality': 'American'},
  'Q1': '1:29.831',
  'Q2': '1:29.546',
  'Q3': '1:29.588'}]